
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="dss-right-section noside-right-full">

    <div class="dashboard-center">
        <div class="custom-breadcrumb">
            <ol class="cd-breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#0">Change Password</a></li>
            </ol>
        </div>
        <div class="dashboard-center-itm">
            <div class="prasonal-dd shadow-custom">
                @using (Html.BeginForm())
                {
                    <div class="prasonal-form">
                        <div class="pre-title-ue">Change Password</div>
                        <div class="form-main">
                            <div class="login-intup col-ff5">
                                <span>Old Password</span>
                                <input type="password" name="oldpassword" id="oldpassword" class="login-inp">
                            </div>
                            <div class="login-intup col-ff5">
                                &nbsp;
                            </div>
                            <div class="login-intup col-ff5">
                                <span>New Password</span>
                                <input type="password" name="newpassword" id="newpassword" class="login-inp">
                            </div>
                            <div class="login-intup col-ff5">
                                &nbsp;
                            </div>
                            <div class="login-intup col-ff5">
                                <span>Confirm Password</span>
                                <input type="password" name="confirmpassword" id="confirmpassword" class="login-inp">
                            </div>
                            <div class="login-intup col-ff5">
                                &nbsp;
                            </div>
                            

                        </div>
                        <div class="submit-btn-wrap">
                            @{
                                string err = "";
                                string suc = "";
                                if (ViewData["_ErrorMessage"] != null)
                                {
                                    err = ViewData["_ErrorMessage"].ToString();
                                }

                                if (ViewData["_SuccessMessage"] != null)
                                {
                                    suc = ViewData["_SuccessMessage"].ToString();
                                }
                            }
                            <label id="lblerr" style="color:#cb0f0f">@err</label><label id="lblsuc" style="color:#eae73f">@suc</label><br />
                            <button type="submit" class="admin-btn" id="btnSubmit" name="submit">Change Password</button>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>

</div>

<script>
    $(document).ready(function () {

        $('#btnSubmit').click(function () {
            var err = ValidateForm();
            if (err != '') {
                $('#lblerr').text(err);
                return false;
            }
            return true;
        });
    });

    function ValidateForm() {

        var error = '';
        if (!InputMandatory("oldpassword")) {
            error = 'Please enter old password. !!';
            return error;
        }

        if (!InputMandatory("newpassword")) {
            error = 'Please enter new password. !!';
            return error;
        }

        if (!InputMandatory("confirmpassword")) {
            error = 'Please confirm new password. !!';
            return error;
        }

        if ($('#newpassword').val().trim() != $('#confirmpassword').val().trim()) {
            error = 'Entered password and confirm password did not match. !!';
            return error;
        }
        return error;
    }

    function InputMandatory(name) {
        var val = $('#' + name + '').val();
        if (val == '') {
            return false;
        }
        return true;
    }

    function InputAmountValidate(name) {
        var val = $('#' + name + '').val();
        if (parseFloat(val) <= 0) {
            return false;
        }
        return true;
    }

    function SelectMandatory(name) {
        var val = $('#' + name + '').val();
        if (val == 0) {
            return false;
        }
        return true;
    }
</script>