
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="dss-right-section noside-right-full">
    <div class="dashboard-center">
        <div class="custom-breadcrumb">
            <ol class="cd-breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#0">Manage Investment</a></li>
            </ol>
        </div>
        <div class="dashboard-center-itm">
            <div class="prasonal-dd shadow-custom">
                @using (Html.BeginForm())
                {
                    <div class="prasonal-form">
                        <div class="pre-title-ue">Manage Investment<span><em>Total Balance :</em> <i class="fa fa-inr"></i> 235433</span></div>
                        <div class="col-sm-12" style="padding-top:20px;">
                            <div class="plan-section-main">
                                <div class="plan-inner">
                                    <div class="plan-card">
                                        <h3>P5</h3>
                                        <p class="price-text">Price : <span> 2500+(380 tax)</span></p>
                                        <p>Account validity : <span> 12 month</span></p>
                                        <p>Daily work : <span> 5 link</span></p>
                                        <p>Payment per click : <span> Rs. 5</span></p>
                                        <p><span>Payment per day 25</span></p>
                                        <a href="#">Get Plan</a>
                                    </div>
                                </div>
                                <div class="plan-inner">
                                    <div class="plan-card">
                                        <h3>P10</h3>
                                        <p class="price-text">Price : <span> 5000+(760 tax)</span></p>
                                        <p>Account validity : <span> 12 month</span></p>
                                        <p>Daily work : <span> 10 link</span></p>
                                        <p>Payment per click : <span> Rs. 5</span></p>
                                        <p><span>Payment per day 50</span></p>
                                        <a href="#">Get Plan</a>
                                    </div>
                                </div>
                                <div class="plan-inner">
                                    <div class="plan-card">
                                        <h3>P20</h3>
                                        <p class="price-text">Price : <span> 10000+(1517 tax)</span></p>
                                        <p>Account validity : <span> 12 month</span></p>
                                        <p>Daily work : <span> 20 link</span></p>
                                        <p>Payment per click : <span> Rs. 5</span></p>
                                        <p><span>Payment per day 100</span></p>
                                        <a href="#">Get Plan</a>
                                    </div>
                                </div>
                                <div class="plan-inner">
                                    <div class="plan-card">
                                        <h3>P50</h3>
                                        <p class="price-text">Price : <span> 25000+(3793 tax)</span></p>
                                        <p>Account validity : <span> 12 month</span></p>
                                        <p>Daily work : <span> 50 link</span></p>
                                        <p>Payment per click : <span> Rs. 5</span></p>
                                        <p><span>Payment per day 250</span></p>
                                        <a href="#">Get Plan</a>
                                    </div>
                                </div>
                                <div class="plan-inner">
                                    <div class="plan-card">
                                        <h3>P125</h3>
                                        <p class="price-text">Price : <span> 50000+(7585 tax)</span></p>
                                        <p>Account validity : <span> 12 month</span></p>
                                        <p>Daily work : <span> 125 link</span></p>
                                        <p>Payment per click : <span> Rs. 5</span></p>
                                        <p><span>Payment per day 625</span></p>
                                        <a href="#">Get Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="main-popup" style="display:flex">
            <div class="popup-inner">
                <div class="popup-header">
                    <h5>Plan<a href="~/member/memberInvestment"><span class="close-btn-popup1"></span></a></h5>
                </div>
                <div class="popup-Body">
                    <div class="plan-inner" style="padding-top:30px">
                        <div class="plan-card">
                            <p class="price-text"><span> Your plan is successfully purchased</span></p>
                            <p style="padding:30px 0; text-align:center;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 48 48"><circle cx="24" cy="24" r="21" fill="#4CAF50" /><path fill="#ffffff" d="M34.6 14.6L21 28.2l-5.6-5.6l-2.8 2.8l8.4 8.4l16.4-16.4z" /></svg>
                            </p>
                            <a href="~/member/index">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        $('#btnSubmit').click(function () {

            //$("#btnSubmit").attr("disabled", true);
            $("#btnSubmit").hide();

            var err = ValidateForm();
            if (err != '') {
                $('#lblerr').text(err);
                $("#btnSubmit").show();
                //$("#btnSubmit").removeAttr("disabled");
                return false;
            }

            var plan = $("input[name='investmentType']:checked").val();
            var planname = '';

            if (plan == 2) {
                planname = 'Daily ROI Plan';
            }
            else if (plan == 3) {
                planname = 'Crypto Deposit Plan';
            }

            if (!confirm('Are you sure to make crypto deposit investment?')) {
                $("#btnSubmit").show();
                return false;
            }

            return true;
        });
    });

    function ValidateForm() {

        var error = '';

        if (!SelectMandatory("paymenttype")) {
            error = 'Please choose payment type. !!';
            return error;
        }

        if (!InputMandatory("amount")) {
            error = 'Please enter investment amount. !!';
            return error;
        }

        if (!InputAmountValidate("amount")) {
            error = 'Please enter valid investment amount. !!';
            return error;
        }

        var amt = $('#amount').val();

        if (parseFloat(amt) < 25) {
            error = 'Please enter valid amount. Minimum investment amount is $25. !!';
            return error;
        }
        return error;
    }

    function InputMandatory(name) {
        var val = $('#' + name + '').val();
        if (val == '') {
            return false;
        }
        return true;
    }

    function InputAmountValidate(name) {
        var val = $('#' + name + '').val();
        if (parseFloat(val) <= 0) {
            return false;
        }
        return true;
    }

    function SelectMandatory(name) {
        var val = $('#' + name + '').val();
        if (val == 0) {
            return false;
        }
        return true;
    }
</script>

