@{
}

<section class="home-baner about-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="banner-contact-content about-pigi">
                    <h1><span>About Us</span></h1>
                    <p>Introducing trueclick, is the innovative digital advertising that puts money back into the hands of viewers. Our innovative Platform rewards you for watching advertisements, making it’s a win-win for both advertisers and viewers.</p>
                    <p>At Trueclick be believe that your time is valuable and we strive to make your ad watching experience worthwhile. With our user friendly interface and a wide range engaging advertisement, you can earn rewards  while enjoying  relevant  and interesting content. Join us today and start earning with Trueclick.</p>
                </div>
            </div>
            <div class="col-lg-6 d-md-none">
                <div class="banner-img-on">
                    <img src="~/assets/images/about-img.png" alt="about image" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing partner-section about-padding-btm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="partener-logo-content">
                    <h2>Our Mission</h2>
                    <p>Trueclick understand that like and subscribe and other digital asset are valuable commodities. We understand that a consumer your digital asset deserve fair compensation.  with trueclick consumer can earn money in exchange for these digital asset, ensuring a fair and mutually  beneficial relationship. Trueclick revalorizes the digital adverting landscape, empowering consumers and driving meaning full results for businesses. join our innovative community today and unlock to potential to earn while doing what you love start maximizing your online impact with trueclick.</p>
                </div>
            </div>
        </div>
    </div>
</section>
