@{
}

<section class="home-baner about-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="banner-contact-content about-pigi">
                    <h1><span>Who</span> we are....</h1>
                    <p>We laid the foundation of Best Asset Analysis People’s (BAAP) Network with an idea to bring about a change in the digital space and amalgamate the crypto environment with the true spirit of having to enjoy returns on your investments. That too in the long term. We strive to bring investors, traders, and entrepreneurs on a platform that is capable of introducing these professionals to a network of like-minded folks that have the enthusiasm and courage that takes to develop an environment of endless possibilities in the digital spectrum. </p>
                </div>
            </div>
            <div class="col-lg-6 d-md-none">
                <div class="banner-img-on">
                    <img src="~/assets/images/about-us2.png" alt="banner image" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing partner-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="partener-logo-content">
                    <h2>Who we are engaged with...</h2>
                    <p>We’ve joined hands with some of the most trustworthy platforms out there to make sure that this network we are so delighted to lay the foundation of will for sure give the community the growth they deserve. Both financially and mentally. </p>
                </div>
                <div class="partener-logo">
                    <ul>
                        <li><img src="~/assets/images/patnar.png" alt="logo" /></li>
                        <li><img src="~/assets/images/patnar2.png" alt="logo" /></li>
                        <li><img src="~/assets/images/patnar3.png" alt="logo" /></li>
                        <li><img src="~/assets/images/patnar4.png" alt="logo" /></li>
                        <li><img src="~/assets/images/patnar5.png" alt="logo" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-spacing stay-loop-wrap">
    <div class="container">
        <div class="stey-loop">
            <div class="stey-loop-text">
                <h3>Stay in the loop</h3>
                <p>Sign up for our newsletter to receive the latest updates from BAAP Network. No spam mails whatsoever. Only serious business.</p>
            </div>
            <div class="stey-loop-email">
                <form>
                    <div class="stey-loop-input">
                        <input class="loop-input-style" type="text" name="nam" placeholder="Enter email address">
                        <button class="stey-loop-continue">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>