@{
}
<section class="home-baner about-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-md-none">
                <div class="main-banner-logo">
                    <img src="~/assets/images/logo.png" alt="banner-logo">
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="banner-content">
                    <div class="banner-pre-title"><span class="border-line"></span><span>THE WORLD’S FIRST</span><span class="border-line"></span></div>
                    <div class="banner-title gradient-color">
                        CRYPTO BROKING PLATFORM.
                    </div>
                    <div class="banner-content-text">
                        Our one-of-a-kind platform lets investors churn out maximum returns out of their investments backed up by trusted cryptocurrencies like Dhanu Token and Tether. (USDT)
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="banner-contact-content">
                    <h3><span>Get</span> In Touch </h3>
                    <p>
                        Don’t be shy. Give us a call or drop us a line.
                        Let’s make some magic together.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-spacing contact-page-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-fomr-title">
                    <h2>Contact <span>us</span></h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6">
                <form method="post" name="enq">
                    <div class="footer-form-inner">
                        <div class="cm-form-group col2-devide">
                            <div class="dol6-form-itm">
                                <label>Frist Name</label>
                                <input type="text" placeholder="Frist Name" class="cm-form-control" name="name">
                            </div>
                            <div class="dol6-form-itm">
                                <label>Last Name</label>
                                <input type="text" placeholder="Last Name" class="cm-form-control" name="name">
                            </div>
                        </div>
                        <div class="cm-form-group">
                            <label>Email Address</label>
                            <input type="email" required="required" placeholder="Email Address" id="email" class="cm-form-control" name="email">
                        </div>
                        <div class="cm-form-group">
                            <label>Your Message</label>
                            <textarea required="required" placeholder="Your Message" class="cm-form-control" name="message" rows="2"></textarea>
                        </div>
                        <div class="term-condition">
                            <div class="check-condition"><input type="checkbox" id="switch"><label class="switch-style" for="switch">I agree to the Terms and Conditions.</label></div>
                        </div>
                        <div class="footer-btn-wrap">
                            <button type="submit" title="Submit Your Message!" class="site-btn get-intouch-btn" name="submit" value="Submit">SEND MESSAGE</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12 col-lg-6 d-md-none">
                <div class="contact-img">
                    <img src="~/assets/images/contact-image.png" alt="images">
                </div>
            </div>
        </div>
    </div>
</section>