
@{
}
<section class="home-baner banner-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb-main">
                    <li><a href="~/">Home</a></li>
                    <li>Disclaimer</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="section-spacing tearm-page">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <h2>Disclaimer</h2>
                <p>Among other things, BAAP enters into transactions with approved counterparties for the purchase and sale of cryptoassets on a proprietary, principal to principal basis. By contacting BAAP, you are expressing a potential interest in learning more about BAAP and/or entering into such transactions as a counterparty to BAAP, acting solely as principal, on a proprietary basis for your own account. By viewing this Website and the Content, or providing contact information to BAAP, you understand that BAAP has not approved you as a counterparty and is not agreeing to enter into any specific transactions. You will need to be approved as a counterparty prior to entering into any such transactions, each of which will be subject to individual negotiation and agreement. In addition, by allowing you to view this Website and the Content, and by entering into any transactions with you, BAAP is not creating either an express or implied customer or other relationship, affiliation or association between you and BAAP. You also agree that nothing on this Website constitutes or may be construed as an offer to enter into a specific transaction, and you acknowledge and understand that BAAP will not provide any advisory services or assume any fiduciary or other similar obligation with respect to you or any other counterparty or any transaction entered into between BAAP and you or another counterparty. BAAP will serve solely as your counterparty with respect to any such transactions and you will be solely responsible for all of your transaction decisions and for the evaluation of all risks related to such transactions. This Website and the content are directed at and made available solely to persons and entities in jurisdictions in which the purchase and sale of cryptoassets is not legally prohibited.</p>
                <p>BAAP makes no representations or warranties of any kind with respect to the Content, including but not limited to representations and warranties as to the accuracy, timeliness, performance, completeness or suitability of the Content for any particular purpose. You acknowledge that the Content may contain inaccuracies or errors. To the fullest extent permitted by law, in no event shall BAAP shall have any liability arising out of or relating to your use of this Website or the Content.</p>
            </div>
        </div>
    </div>
</section>