@{
    ViewBag.Title = "Best crypto broking and investment platform | BAAP Network";
    ViewBag.MetaDesc = "BAAP Network is the world’s first ever best crypto broking and investment platform that lets investors churn out maximum returns out of their investments backed up by trusted cryptocurrencies like Dhanu Token and Tether. (USDT) Investors get to avail fixed growth on every investment without happening to worry about market fluctuations. ";
    ViewBag.Logoalt = "Best crypto broking and investment platform |BAAP Network";


}

<section class="home-page home-baner">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-md-none">
                <div class="main-banner-logo">
                    <img src="~/assets/images/logo.svg" alt="banner-logo">
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="banner-content">
                    <div class="banner-pre-title"><span class="border-line"></span><span>THE WORLD’S FIRST</span><span class="border-line"></span></div>
                    <h1 class="banner-title gradient-color" style="margin: 0px;">
                        Best Crypto Broking And Investment Platform
                    </h1>
                    <div class="banner-content-text">
                        Our one-of-a-kind platform lets investors churn out maximum returns out of their investments backed up by trusted cryptocurrencies like Dhanu Token and Tether. (USDT)
                    </div>
                    <div class="banner-btn">
                        <a href="~/login" class="site-btn">Login Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="section-spacing bgall-bg">

    <div class="banner-bottom-share">
        <div class="container">
            <div class="newer-post-all">
                <div class="newer-post-item">
                    <div class="newer-post-item-in">
                        <img src="~/assets/images/1.jpg" alt="images" />
                    </div>
                </div>
                <div class="newer-post-item">
                    <div class="newer-post-item-in">
                        <img src="~/assets/images/2.jpg" alt="images" />
                    </div>
                </div>
                <div class="newer-post-item">
                    <div class="newer-post-item-in">
                        <img src="~/assets/images/3.jpg" alt="images" />
                    </div>
                </div>
                <div class="newer-post-item">
                    <div class="newer-post-item-in">
                        <img src="~/assets/images/4.jpg" alt="images" />
                    </div>
                </div>
                <div class="newer-post-item">
                    <div class="newer-post-item-in">
                        <img src="~/assets/images/5.jpg" alt="images" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="how-to-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="about-title-content gradient-color">ONE OF A KIND</div>
                    <div class="how-to-content">
                        <p>Something that’s never been done before. Giving investors and traders the ability to beat the market despite crests and troughs in the Cryptocurrency space. Availing fixed annual returns when invested with us in relatively secure and trusted virtual currencies such as Dhanu Token and USDT. </p>
                        <p>Given these digital assets are considered stable investments, we tend to minimize the risk involved by creating an ecosystem of traders and investors alike.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">

                </div>
            </div>
        </div>
    </div>

    <div class="section-cprogress">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="cprogress-inner">
                        <div class="cprogress-img"><img src="~/assets/images/targate.png" alt="complate"></div>
                        <div class="cprogress-title"><span class="counte" data-number="16000"></span>+</div>
                        <div class="cprogress-content">Members involved.</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cprogress-inner">
                        <div class="cprogress-img"><img src="~/assets/images/group-circle.png" alt="circle point"></div>
                        <div class="cprogress-title"><span class="counte" data-number="95"></span>%</div>
                        <div class="cprogress-content">Client retention rate</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cprogress-inner">
                        <div class="cprogress-img"><img src="~/assets/images/globe1.png" alt="glove"></div>
                        <div class="cprogress-title"><span class="counte" data-number="5"></span>+</div>
                        <div class="cprogress-content">Countries active in.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="section-spacing how-top-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-12">

            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-title-content gradient-color">NETWORK ORIENTED</div>
                <div class="how-to-content">
                    <p>Building one’s network from the ground up and learning along the way is what Investors do and love. Returns start coming in from day one on the investments being poured and all it takes is for Investors to keep the wagon up and running by adding like-minded individuals with them. </p>
                    <p>The bigger the network gets the higher the passive returns sweep in. As every investor and investment is crucial, BAAP Network runs on the concept of team building and the appetite to earn interests on every added fund for a fixed period of time.</p>
                </div>
                <div class="section-btn-wrap">
                    <a href="~/register" class="site-btn">OPEN FREE ACCOUNT</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-spacing how-topcc-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="about-title-content gradient-color">HOW TO TRADE WITH US</div>
                <div class="how-to-content">
                    <p>
                        Getting started with BAAP Network is pretty simple and straightforward. As BAAP Network runs on an Invite-only program, only a section of investors are let inside the ecosystem and transact business. When these investors expand their network by inviting other trading partners, the platform grows and returns are calculated accordingly. Plus, with a passive reward phenomenon, returns keep increasing and adding up as the days pass.
                    </p>
                    <p><strong>Following these steps would help:</strong></p>
                </div>
                <div class="how-to-content-count">
                    <ul>
                        <li>New users are required to sign up using a referral link that should be sent via an existing member.</li>
                        <li>After filling in the necessary details the new user would be asked to verify his/her name, email address through an OTP.</li>
                        <li>After successful registration, users would be required to add funds. Funds are to be accepted only in the form of Dhanu Token and USDT.</li>
                        <li>Returns are calculated on a daily basis.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="section-btn-wrap ext-space text-center">
                    <a href="~/register" class="site-btn">OPEN FREE ACCOUNT</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-spacing trading-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="default_title_color text-center max-width-title">
                    <h4 class="gradient-color">CLIENT TESTIMONIALS</h4>
                    <p>We value the feedback that we receive from our investors. Take a look on what are the views of other investors who have already invested through our Platform.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="traders-sec">
            <div class="trade-slider-itm">
                <div class="trade-slider-itm-in">
                    <div class="quote-ic"><img src="~/assets/images/quote.png" alt="quote" /></div>
                    <div class="quote-content">I have been working alongside this wonderful Network of investors for a year. And I must admit that the exceptional growth that I got to experience is hands down due to these people. Thanks for changing my life! I’ve never felt so good.</div>
                    <div class="quote-admin"><img src="~/assets/images/user.png" alt="quote-admin"></div>
                    <div class="quote-name">Hillary Thompson</div>
                    <div class="quote-position">London</div>
                </div>
            </div>
            <div class="trade-slider-itm">
                <div class="trade-slider-itm-in">
                    <div class="quote-ic"><img src="~/assets/images/quote.png" alt="quote" /></div>
                    <div class="quote-content">I’m an investor and like many others, I’ve had the same amount of experience regarding what my returns would look like but since I got to join Best Asset Analysis People’s Network, I can rely on the experts and get my needs sorted out.</div>
                    <div class="quote-admin"><img src="~/assets/images/user.png" alt="quote-admin"></div>
                    <div class="quote-name">Liam Benjamin</div>
                    <div class="quote-position">Singapore</div>
                </div>
            </div>
            <div class="trade-slider-itm">
                <div class="trade-slider-itm-in">
                    <div class="quote-ic"><img src="~/assets/images/quote.png" alt="quote" /></div>
                    <div class="quote-content">Every trader should be a part of this community! Once in a lifetime opportunity. I got lucky and made my things work. Hands down one of the best decisions of my life. I want you guys to not miss it. Public Service Announcement, yes!</div>
                    <div class="quote-admin"><img src="~/assets/images/user.png" alt="quote-admin"></div>
                    <div class="quote-name">Noah Parker</div>
                    <div class="quote-position">New Zealand</div>
                </div>
            </div>
            <div class="trade-slider-itm">
                <div class="trade-slider-itm-in">
                    <div class="quote-ic"><img src="~/assets/images/quote.png" alt="quote" /></div>
                    <div class="quote-content">A network of new possibilities! Something that truly sets on to revolutionize the digital space. Really happy to have my responsibilities laid down as an active member of the community. Let’s grow together and seize this opportunity.</div>
                    <div class="quote-admin"><img src="~/assets/images/user.png" alt="quote-admin"></div>
                    <div class="quote-name">Adil Bashir</div>
                    <div class="quote-position">Dubai</div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="disclimer-wrap">
    <div class="section-spacing disclimer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="disclimer-content">
                        <h2>DISCLAIMER</h2>
                        <p>Regal Assets recommends that you carefully evaluate and research the risks and rewards associated with investing in physical precious metals before you make a purchase. Data quoted on website represents past performance and does not guarantee future results. Regal Assets account executives are not licensed as investment advisors and, accordingly, do not make any recommendations regarding clients personal investment portfolios. Regal Assets account executives are only authorized to sell Regal Assets crypto products. For more information please review our Risk Disclosures and Privacy Policy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>