@{
    ViewBag.Title = "Best crypto broking and investment platform";
    ViewBag.MetaDesc = "Our Network is the world’s first ever best crypto broking and investment platform that lets investors churn out maximum returns out of their investments backed up by trusted cryptocurrencies like Token and Tether. (USDT) Investors get to avail fixed growth on every investment without happening to worry about market fluctuations. ";
    ViewBag.Logoalt = "Best crypto broking and investment platform";


}

<section class="home-page home-baner">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-md-none">
                <div class="main-banner-logo">
                    <img src="~/assets/images/logo.svg" alt="banner-logo">
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="banner-content">
                    <div class="banner-pre-title"><span class="border-line"></span><span>THE INDIA’S FIRST</span><span class="border-line"></span></div>
                    <h1 class="banner-title gradient-color" style="margin: 0px;">
                        Earn money by watching ads
                    </h1>
                    <div class="banner-content-text">
                        Trueclick is a digital advertising platform that reward you for watching advertisement.<br /> Start earning today.
                    </div>
                    <div class="banner-btn">
                        <a href="~/register" class="site-btn">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing bgall-bg">
    <div class="how-to-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="about-title-content gradient-color">About Us</div>
                    <div class="how-to-content">
                        <p>Introducing trueclick, is the innovative digital advertising that puts money back into the hands of viewers. Our innovative Platform rewards you for watching advertisements, making it’s a win-win for both advertisers and viewers.</p>
                        <p>At Trueclick be believe that your time is valuable and we strive to make your ad watching experience worthwhile. With our user friendly interface and a wide range engaging advertisement, you can earn rewards  while enjoying  relevant  and interesting content. Join us today and start earning with Trueclick.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="page-banner-img">
                        <img src="~/assets/images/side-banner-image-3.png" alt="banner" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-cprogress">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="cprogress-inner">
                        <div class="cprogress-img"><img src="~/assets/images/grow-img.jpg" alt="complate"></div>
                        <div class="cprogress-title"><span class="counte" data-number="12000"></span>+</div>
                        <div class="cprogress-content">Members involved.</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cprogress-inner">
                        <div class="cprogress-img"><img src="~/assets/images/group-circle.jpg" alt="circle point"></div>
                        <div class="cprogress-title"><span class="counte" data-number="95"></span>%</div>
                        <div class="cprogress-content">Client retention rate</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cprogress-inner">
                        <div class="cprogress-img"><img src="~/assets/images/globe1.png" alt="glove"></div>
                        <div class="cprogress-title"><span class="counte" data-number="5"></span>+</div>
                        <div class="cprogress-content">Countries active in.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="section-spacing how-top-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="page-banner-img">
                    <img src="~/assets/images/side-banner-image-2.jpg" alt="banner" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-title-content gradient-color">Our Mission</div>
                <div class="how-to-content">
                    <p>Trueclick understand that like and subscribe and other digital asset are valuable commodities. We understand that a consumer your digital asset deserve fair compensation.  with trueclick consumer can earn money in exchange for these digital asset, ensuring a fair and mutually  beneficial relationship. Trueclick revalorizes the digital adverting landscape, empowering consumers and driving meaning full results for businesses. join our innovative community today and unlock to potential to earn while doing what you love start maximizing your online impact with trueclick.</p>
                </div>
                <div class="section-btn-wrap">
                    <a href="~/register" class="site-btn">OPEN FREE ACCOUNT</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-spacing how-topcc-section" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="about-title-content gradient-color">HOW TO EARN WITH US</div>
                <div class="how-to-content">
                    <p>
                        Getting started with Our Network is pretty simple and straightforward. As Our Network runs on an Invite-only program, only a section of investors are let inside the ecosystem and transact business. When these investors expand their network by inviting other trading partners, the platform grows and returns are calculated accordingly. Plus, with a passive reward phenomenon, returns keep increasing and adding up as the days pass.
                    </p>
                    <p><strong>Following these steps would help:</strong></p>
                </div>
                <div class="how-to-content-count">
                    <ul>
                        <li>New users are required to sign up using a referral link that should be sent via an existing member.</li>
                        <li>After filling in the necessary details the new user would be asked to verify his/her name, email address through an OTP.</li>
                        <li>After successful registration, users would be required to add funds. Funds are to be accepted only in the form of Token and USDT.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="page-banner-img">
                    <img src="~/assets/images/side-banner-image.jpg" alt="banner" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="section-btn-wrap ext-space text-center">
                    <a href="~/register" class="site-btn">OPEN FREE ACCOUNT</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-spacing trading-section" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="default_title_color text-center max-width-title">
                    <h4 class="gradient-color">CLIENT TESTIMONIALS</h4>
                    <p>We value the feedback that we receive from our investors. Take a look on what are the views of other investors who have already invested through our Platform.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="traders-sec">
            <div class="trade-slider-itm">
                <div class="trade-slider-itm-in">
                    <div class="quote-ic"><img src="~/assets/images/quote.png" alt="quote" /></div>
                    <div class="quote-content">I have been working alongside this wonderful Network of investors for a year. And I must admit that the exceptional growth that I got to experience is hands down due to these people. Thanks for changing my life! I’ve never felt so good.</div>
                    <div class="quote-admin"><img src="~/assets/images/user.png" alt="quote-admin"></div>
                    <div class="quote-name">Hillary Thompson</div>
                    <div class="quote-position">London</div>
                </div>
            </div>
            <div class="trade-slider-itm">
                <div class="trade-slider-itm-in">
                    <div class="quote-ic"><img src="~/assets/images/quote.png" alt="quote" /></div>
                    <div class="quote-content">I’m an investor and like many others, I’ve had the same amount of experience regarding what my returns would look like but since I got to join Best Asset Analysis People’s Network, I can rely on the experts and get my needs sorted out.</div>
                    <div class="quote-admin"><img src="~/assets/images/user3.png" alt="quote-admin"></div>
                    <div class="quote-name">Liam Benjamin</div>
                    <div class="quote-position">Singapore</div>
                </div>
            </div>
            <div class="trade-slider-itm">
                <div class="trade-slider-itm-in">
                    <div class="quote-ic"><img src="~/assets/images/quote.png" alt="quote" /></div>
                    <div class="quote-content">Every trader should be a part of this community! Once in a lifetime opportunity. I got lucky and made my things work. Hands down one of the best decisions of my life. I want you guys to not miss it. Public Service Announcement, yes!</div>
                    <div class="quote-admin"><img src="~/assets/images/user2.png" alt="quote-admin"></div>
                    <div class="quote-name">Noah Parker</div>
                    <div class="quote-position">New Zealand</div>
                </div>
            </div>
            <div class="trade-slider-itm">
                <div class="trade-slider-itm-in">
                    <div class="quote-ic"><img src="~/assets/images/quote.png" alt="quote" /></div>
                    <div class="quote-content">A network of new possibilities! Something that truly sets on to revolutionize the digital space. Really happy to have my responsibilities laid down as an active member of the community. Let’s grow together and seize this opportunity.</div>
                    <div class="quote-admin"><img src="~/assets/images/user3.png" alt="quote-admin"></div>
                    <div class="quote-name">Adil Bashir</div>
                    <div class="quote-position">Dubai</div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="disclimer-wrap" style="display:none;">
    <div class="section-spacing disclimer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="disclimer-content">
                        <h2>DISCLAIMER</h2>
                        <p>Regal Assets recommends that you carefully evaluate and research the risks and rewards associated with investing in physical precious metals before you make a purchase. Data quoted on website represents past performance and does not guarantee future results. Regal Assets account executives are not licensed as investment advisors and, accordingly, do not make any recommendations regarding clients personal investment portfolios. Regal Assets account executives are only authorized to sell Regal Assets crypto products. For more information please review our Risk Disclosures and Privacy Policy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq-section1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="faq-title text-center pb-3">
                    <div class="about-title-content gradient-color pt-0">FAQ<span style="text-transform:lowercase">s</span></div>
                </div>
                <div class="faq-sec">
                    <div class="card">
                        <div class="card-header">
                            <div class="mb-0">
                                <h5 class="faq-title">
                                   How does trueclick reward users?
                                </h5>
                            </div>
                        </div>
                        <div class="card-body-text" style="display:none">
                            <div class="card-body">
                                <p>Trueclick rewards users  with incentives for watching advertisement.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="mb-0">
                                <h5 class="faq-title">
                                   What type of advertisement can I expect to see?
                                </h5>
                            </div>
                        </div>
                        <div class="card-body-text" style="display:none">
                            <div class="card-body">
                                <p>Trueclick offer varieties type advertisement from various brand and industries on their platform.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="mb-0">
                                <h5 class="faq-title">
                                   How can I benefits using trueclick?
                                </h5>
                            </div>
                        </div>
                        <div class="card-body-text" style="display:none">
                            <div class="card-body">
                                <p>By using trueclick, You can earn rewards while watching advertisement and discover new products and services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>