@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Best Asset Analysis People Network" />
    <title>BAAP</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W57DJ4N');</script>
    <!-- End Google Tag Manager -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8QBCL0NZPB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8QBCL0NZPB');
    </script>
</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W57DJ4N"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="body-wrapper">
        <section class="section-spacing login-page">
            <div class="cm-container">
                <div class="cm-bg-images">
                    <div class="login-wrapper">
                        <div class="login-wrapper-in">

                            <div class="login-form-area register-page">
                                <div class="login-form">
                                    @using (Html.BeginForm())
                                    {
                                    <div class="form-main">
                                        <div class="login-form-title">SignIn</div>
                                        <div class="login-intup">
                                            <span><i class="fa fa-user"></i>User name</span>
                                            <input type="text" name="username" id="username" class="login-inp">
                                        </div>
                                        <div class="login-intup">
                                            <span><i class="fa fa-lock"></i>Password</span>
                                            <input type="password" name="password" id="password" class="login-inp">
                                        </div>
                                        <div class="login-btn-login">
                                            @{
                                                    string err = "";
                                                    if (ViewData["_ErrorMessage"] != null)
                                                    {
                                                        err = ViewData["_ErrorMessage"].ToString();
                                                    }
                                            }
                                            <label id="lblerr" style="color:#cb0f0f">@err</label><br />
                                            <button class="btn-login" id="btnLogin">SignIn</button>
                                        </div>
                                    </div>
                                    <div class="other-login">Don't have an account? <a href="~/register">Sign up</a></div>
                                    <div class="other-login">Don't remember the password? <a href="~/forget-password">Forgot Password</a></div>
                                    }
                                </div>
                            </div>


                            <div class="login-logo-area register-page">
                                <div class="login-logo-inner">
                                    <div class="login-logo">
                                        <a href="~/">
                                            <img src="~/assets/images/logo.svg" alt="logo">
                                        </a>
                                    </div>
                                    <div class="logo-bottom-content">
                                        <p><span>Engaging more, Refreshing result</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
<script src="~/assets/js/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        
        $('#btnLogin').click(function () {
            var err = ValidateForm();
            if (err != '') {
                $('#lblerr').text(err);
                return false;
            }
            return true;
        });
    });

    function ValidateForm() {

        var error = '';
        if (!InputMandatory("username")) {
            error = 'Please enter username. !!';
            return error;
        }

        if (!InputMandatory("password")) {
            error = 'Please enter password. !!';
            return error;
        }
        return error;
    }

    function InputMandatory(name) {
        var val = $('#' + name + '').val();
        if (val == '') {
            return false;
        }
        return true;
    }
</script>