
@{
    
}


<section class="home-baner about-banner plan-page-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="banner-contact-content about-pigi">
                    <h1><span>Our Plan</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing partner-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="plan-section-main">
                    <div class="plan-inner">
                        <div class="plan-card">
                            <h3>P5</h3>
                            <p class="price-text"><span><i class="fa fa-inr"></i> 2775</span>/year</p>
                            <p><span>5 link daily work</span></p>
                            <p><span><i class="fa fa-inr"></i> 5 per click</span></p>
                            <p><span><i class="fa fa-inr"></i> 25 payment per day</span></p>
                            <a href="~/register">Register</a>
                        </div>
                    </div>
                    <div class="plan-inner">
                        <div class="plan-card">
                            <h3>P10</h3>
                            <p class="price-text"><span><i class="fa fa-inr"></i> 5750</span>/year</p>
                            <p><span>10 link daily work</span></p>
                            <p><span><i class="fa fa-inr"></i> 5 per click</span></p>
                            <p><span><i class="fa fa-inr"></i> 50 payment per day</span></p>
                            <a href="~/register">Register</a>
                        </div>
                    </div>
                    <div class="plan-inner">
                        <div class="plan-card">
                            <h3>P20</h3>
                            <p class="price-text"><span><i class="fa fa-inr"></i> 11500</span>/year</p>
                            <p><span>20 link daily work</span></p>
                            <p><span><i class="fa fa-inr"></i> 5 per click</span></p>
                            <p><span><i class="fa fa-inr"></i> 100 payment per day</span></p>
                            <a href="~/register">Register</a>
                        </div>
                    </div>
                    <div class="plan-inner">
                        <div class="plan-card">
                            <h3>P50</h3>
                            <p class="price-text"><span><i class="fa fa-inr"></i> 28750</span>/year</p>
                            <p><span>50 link daily work</span></p>
                            <p><span><i class="fa fa-inr"></i> 5 per click</span></p>
                            <p><span><i class="fa fa-inr"></i> 250 payment per day</span></p>
                            <a href="~/register">Register</a>
                        </div>
                    </div>
                    <div class="plan-inner">
                        <div class="plan-card">
                            <h3>P125</h3>
                            <p class="price-text"><span><i class="fa fa-inr"></i> 57500</span>/year</p>
                            <p><span>125 link daily work</span></p>
                            <p><span><i class="fa fa-inr"></i> 5 per click</span></p>
                            <p><span><i class="fa fa-inr"></i> 625 payment per day</span></p>
                            <a href="~/register">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing how-topcc-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-title-content gradient-color pt-0">Note </div>
                <div class="how-to-content-count">
                    <ul>
                        <li>Valid for 12 months after that renewal</li>
                        <li>In Subscription cost 15.17% tax included </li>
                        <li>Task will come on Monday to Friday</li>
                        <li>10 days money back guarantee</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="about-title-content gradient-color">Booster Income </div>
                <div class="how-to-content-count">
                    <ul>
                        <li>For example, You have taken Rs 10000 Package.</li>
                        <li>20 task daily (20*5=100 Daily)</li>
                        <li>If you make a pair (2 member below you of same package) below you within 20 days of your joining then daily task will be double. i.e. after booster you will get 40 task Daily.</li>
                        <li>Thus your income will be RS 200 daily which will be 169.66 daily earning after cutting 15.17%tax</li>
                        <li>If you do not add two people under you within 20 days, then you will have to take another plan to increase your booster income.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="about-title-content gradient-color">Level Income </div>
                <div class="how-to-content-count plan-table">
                   <div class="responsive-table">
                        <table class="table-custom">
                            <thead>
                                <tr>
                                    <th>Level 1</th>
                                    <th>Level 2</th>
                                    <th>Level 3</th>
                                    <th>Level 4</th>
                                    <th>Level 5</th>
                                    <th>Level 6</th>
                                    <th>Level 7</th>
                                    <th>Level 8</th>
                                    <th>Level 9</th>
                                    <th>Level 10</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>10%</td>
                                    <td>9%</td>
                                    <td>8%</td>
                                    <td>7%</td>
                                    <td>6%</td>
                                    <td>5%</td>
                                    <td>4%</td>
                                    <td>3%</td>
                                    <td>2%</td>
                                    <td>1%</td>
                                </tr>
                            </tbody>
                        </table>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>