
@{
}

<section class="home-baner about-banner pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-md-none">
                <div class="main-banner-logo">
                    <img src="~/assets/images/logo.png" alt="banner-logo">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="banner-contact-content about-pigi">
                    <h1><span>How</span> Bussiness happens</h1>
                    <p>Take a look at the assets that make business happen over the BAAP Network. Something that our traders and investors should have full control over. Full transparency induced.</p>
                </div>
            </div>
            <div class="col-lg-2 d-md-none"></div>
        </div>
    </div>
</section>



<section class="section-spacing products-content">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-6">
                <div class="productContent lft-img">
                    <h3><span>Dhanu</span> Token</h3>
                    <p>A relatively new virtual currency in the market, Dhanu Token is based on the Binance Smart Chain. Dhanu strives to revolutionize the way virtual assets are traded on the web. Both secure and offering a staking system, Dhanu Token would be primarily used to transact business over BAAP Network.</p>
                    <p>A total of 500 million Dhanu Tokens are in circulation.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-img lft-img">
                    <img src="~/assets/images/coin1.png" alt="images" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing products-content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="productContent lft-img">
                    <h3><span>USDT</span> (Tether)</h3>
                    <p>Regarded as one of the most stable virtual currencies in the market, Tether or USDT is backed by Ethereum and Bitcoin Blockchain. This digital asset is regarded as a stable coin because of its non-volatile nature and is equivalent to US Dollars in value and quantity. An equal majority of Tether is to be circulated and put to work on the BAAP Network.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-img right-img">
                    <img src="~/assets/images/USDT.png" alt="images" />
                </div>
            </div>
        </div>
    </div>
</section>
