
@{
}

<section class="home-baner banner-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb-main">
                    <li><a href="~/">Home</a></li>
                    <li>Terms of Use</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="section-spacing tearm-page">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <h2>Terms of Use</h2>
                <p>By accessing this website, <a href="https://baapnetwork.com/">https://baapnetwork.com/</a> (this “Website”), you agree to be bound by these Terms of Use. All content on this website (the “Content”) are copyrighted under the laws of the Dubai The Content is protected by copyright laws and other applicable laws and treaty provisions throughout the world. The trademarks, service marks, trade dress, graphics, logos, slogans, copyrighted designs and other features of this Website are the property of BAAP Network and its affiliated or related companies (collectively, “BAAP”) and may not be used without the prior permission of BAAP. No portion of the Content may be copied or reproduced in any form or by any means. You are not permitted to modify, distribute, publish, transmit, frame, reverse engineer, post or link this Website or the Content without prior written permission of BAAP. You may download information from this Website for your personal and non-commercial use, provided that all copyright and other notices are kept intact and not removed. BAAP retains all right, title and interest in this Website and the Content and all intellectual property rights in contents downloaded from this Website. The Content may not be stored in a database or retrieval system, without the prior written permission of BAAP. You may not use this Website or the Content for any unlawful, unauthorized, fraudulent or malicious purpose or in a manner that could interfere with any other person’s use of this Website.</p>
            </div>
        </div>
    </div>
</section>