@using System.Data;
@using System.Data.SqlClient;
@{
  Layout = "~/Views/Shared/_HOLayout.cshtml";
}
<div class="dss-right-section noside-right-full">
<div class="dashboard-center">
  <div class="custom-breadcrumb">
    <ol class="cd-breadcrumb">
      <li><a href="#">Dashboard</a></li>
      <li><a href="#0">Deduct Fund</a></li>
    </ol>
  </div>
  <form enctype="multipart/form-data" method="post">
    @using (Html.BeginForm())
    {
      <div class="dashboard-center-itm">
        <div class="prasonal-dd shadow-custom">
          <div class="prasonal-form">
            <div class="pre-title-ue">Deduct Fund From Wallet</div>
            <div class="form-main form-main-border">
              <div class="login-intup col-ff5">
                <span>Invester ID</span>
                <input type="text" name="InvesterID" id="InvesterID" class="login-inp">
              </div>

              <div class="login-intup col-ff5">
                <span>Invester Name</span>
                <input type="text" name="Investorname" id="Investorname" class="login-inp" readonly>
              </div>

              <div class="login-intup col-ff5">
                <span>Amount Transfer</span>
                <input type="text" name="AmmountTransfer" id="AmmountTransfer" class="login-inp">
              </div>
              <div class="login-intup col-ff5">
                <div class="custom-select">
                  <span>Type of Wallet</span>
                  <select id="WalletType" name="WalletType">
                    <option value="1">Dhanu</option>
                    <option value="2">USDT</option>
                  </select>
                </div>
              </div>
              <div class="login-intup col-ff5">
                <span>Remark</span>
                <input type="text" name="Remark" id="Remark" class="login-inp">
              </div>

              <div class="login-intup col-ff5">
                <div class="edit-p-detail edit-p-detail-padd"><button type="submit" class="admin-btn" id="btnsubmit" value="btnsubmit" name="submit">Submit</button></div>

                <label id="lblerr" style="color:#cb0f0f"></label><br />
              </div>
              <div class="submit-btn-wrap">
                @{
                  string err = "";
                  string errSucc = "";
                  if (ViewData["_ErrorMessage"] != null)
                  {
                    err = ViewData["_ErrorMessage"].ToString();
                  }
                  if (ViewData["_SuccessMessage"] != null)
                  {
                    errSucc = ViewData["_SuccessMessage"].ToString();
                  }
                }
                <label id="lblerr" style="color:#cb0f0f">@err</label><label id="lblsucc" style="color:#376706">@errSucc</label><br />

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-center-itm" style="display:none;">
        <div class="prasonal-dd shadow-custom">

          <div class="prasonal-form">
            <div class="pre-title-ue">KYC Info</div>
            <div class="form-main">
              <div class="login-intup has-multiple col-ff">
                <div class="pre-title-ue">Coming Soon. !</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </form>
</div>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {

      $('#btnSubmit').hide();

      $('#InvesterID').on('change', function () {
        GetReferralInfo();
        return false;
      });

      $('#btnsubmit').click(function () {
        var err = ValidateForm();
        if (err != '') {
          $('#lblerr').text(err);
          return false;
        }
        return true;
      });
    });

    function ValidateForm() {
      var error = '';
      if (!InputMandatory("InvesterID")) {
        error = 'Please enter InvesterID. !!';
        return error
      }
      if (!InputMandatory("AmountTransfer")) {
        error = 'Please enter Ammount. !!';
        return error;
      }

      if (!InputAmountValidate("AmountTransfer")) {
        error = 'Invalid Amount. !!';
        return error;
      }
      return error;
    }

    function InputMandatory(name) {
      var val = $('#' + name + '').val();
      if (val == '') {
        return false;
      }
      return true;
    };



  function GetReferralInfo() {

    var loginid = $('#InvesterID').val();

         $.ajax({
            url: '@Url.Action("GetMemberDetails", "Home")',
            type: 'GET',
             data: { loginid: loginid },
            /*dataType: 'json',*/
             success: function (data) {
               var arr = data.split('$');
               $('#Investorname').val(arr[1]);
               $('#btnSubmit').show();
                 return false;
            }
        });
    }



    function InputAmountValidate(name) {
      var val = $('#' + name + '').val();
      if (parseFloat(val) <= 0) {
        return false;
      }
      return true;
    }

    function SelectMandatory(name) {
      var val = $('#' + name + '').val();
      if (val == 0) {
        return false;
      }
      return true;
    }

</script>
