@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrueClick</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets_backend/images/favicon.svg">
    <link rel="stylesheet" href="~/assets_backend/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets_backend/css/dataTables.css">
    <link href="~/assets_backend/css/icons.css" rel="stylesheet">
    <link href="~/assets_backend/css/slick.css" rel="stylesheet">
    <link href="~/assets_backend/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets_backend/css/daterangepicker.css" />
    <script src="~/assets_backend/js/jquery.min.js"></script>
</head>
<body class="cm-dark-bg">
    <div class="dashboard-header">
        <div class="dashboard-wrapper">
            <div class="dashboard-header-in">
                <div class="dashboard-logo">
                    <img src="~/assets_backend/images/logo.svg" alt="logo" />
                    <div class="dashmenu-trigger">
                        <div class="dashtrigger-in">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="header-right-area">
                    <div class="dashboard-header-executive">
                        <div class="header-executive">
                            <a href="" menu-attr="EXECUTIVE TRADER">
                                <i>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M23.25 8.625H14.6625L12 0.75L9.3375 8.625H0.75L7.6875 13.5L5.025 21.375L12 16.5L18.9375 21.375L16.275 13.5L23.25 8.625Z" fill="#DABE2D" />
                                        <path d="M17.3281 7.61289L18.8281 3.33789L14.8906 6.03789L15.4531 7.61289H17.3281Z" fill="#F5F5F5" />
                                        <path d="M10.4648 18.7502L12.0023 23.2502L13.5398 18.7502L12.0023 17.7002L10.4648 18.7502Z" fill="#F5F5F5" />
                                        <path d="M19.0148 12.8633L17.5898 13.8383L18.1898 15.6383H23.0273L19.0148 12.8633Z" fill="#F5F5F5" />
                                        <path d="M9.11328 6.03789L5.17578 3.33789L6.67578 7.61289H8.55078L9.11328 6.03789Z" fill="#F5F5F5" />
                                        <path d="M4.98906 12.8633L0.976562 15.6383H5.81406L6.41406 13.8383L4.98906 12.8633Z" fill="#F5F5F5" />
                                    </svg>
                                </i>
                                @ViewData["Designation"]
                            </a>
                        </div>
                    </div>
                    <div class="user-ice">
                        <div class="user-ic-main toggle-other">
                            <img src="~/assets_ho/images/user.png" alt="user" hight="50" width="50" />
                        </div>
                        <ul class="cm-dropdown">
                            <li>
                                <a href="#" class="cm-flex-css"><div class="pro-name"><span class="u_name">@ViewData["Fullname"]</span><span class="u_email">@ViewData["Email"]</span></div></a>
                            </li>
                            <li>
                                <a href="~/Member/Logout" class="profile-logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-wrapper">
        <div class="dashboard-main">
            <div class="dashboard-left">
                <div class="dashboard-menu">
                  <ul>
                    <li class="dash-menu-itm current">
                      <a href="~/Member/Index">
                        <span class="menu-ic sp-das">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M13 3V9H21V3H13ZM13 21H21V11H13V21ZM3 21H11V15H3V21ZM3 13H11V3H3V13Z" />
                          </svg>
                        </span>
                        <span class="menu-text">Dashboard</span>
                      </a>
                    </li>
                    <li class="dash-menu-itm has-submenu">
                      <a href="#" class="child-trigger">
                        <span class="menu-ic sp-acco">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_200_10633)">
                              <path d="M18.9905 11.5C19.3305 11.5 19.6705 11.53 20.0005 11.57V2.42003C20.0005 1.53003 18.9205 1.08003 18.2905 1.71003L1.71054 18.29C1.08054 18.92 1.52054 20 2.41054 20H11.5605C11.5205 19.67 11.4905 19.34 11.4905 19C11.4905 14.86 14.8505 11.5 18.9905 11.5ZM22.7005 19.49C22.7205 19.33 22.7405 19.17 22.7405 19C22.7405 18.83 22.7305 18.67 22.7005 18.51L23.7605 17.68C23.8055 17.6415 23.8359 17.5888 23.8468 17.5306C23.8577 17.4724 23.8485 17.4122 23.8205 17.36L22.8205 15.63C22.7605 15.52 22.6305 15.48 22.5105 15.52L21.2705 16.02C21.0105 15.82 20.7305 15.65 20.4205 15.53L20.2305 14.21C20.2205 14.09 20.1105 14 19.9905 14H17.9905C17.8705 14 17.7605 14.09 17.7405 14.21L17.5505 15.53C17.2505 15.66 16.9605 15.82 16.7005 16.02L15.4605 15.52C15.3505 15.48 15.2205 15.52 15.1505 15.63L14.1505 17.36C14.0905 17.47 14.1105 17.6 14.2105 17.68L15.2705 18.51C15.2294 18.8354 15.2294 19.1647 15.2705 19.49L14.2105 20.32C14.1656 20.3586 14.1352 20.4113 14.1243 20.4695C14.1133 20.5277 14.1226 20.5878 14.1505 20.64L15.1505 22.37C15.2105 22.48 15.3405 22.52 15.4605 22.48L16.7005 21.98C16.9605 22.18 17.2405 22.35 17.5505 22.47L17.7405 23.79C17.7605 23.91 17.8605 24 17.9905 24H19.9905C20.1105 24 20.2205 23.91 20.2405 23.79L20.4305 22.47C20.7305 22.34 21.0205 22.18 21.2705 21.98L22.5205 22.48C22.6305 22.52 22.7605 22.48 22.8305 22.37L23.8305 20.64C23.8585 20.5878 23.8677 20.5277 23.8568 20.4695C23.8459 20.4113 23.8155 20.3586 23.7705 20.32L22.7005 19.49ZM18.9905 20.5C18.1605 20.5 17.4905 19.83 17.4905 19C17.4905 18.17 18.1605 17.5 18.9905 17.5C19.8205 17.5 20.4905 18.17 20.4905 19C20.4905 19.83 19.8205 20.5 18.9905 20.5Z" />
                            </g>
                            <defs>
                              <clipPath id="clip0_200_10633">
                                <rect width="24" height="24" fill="white" />
                              </clipPath>
                            </defs>
                          </svg>
                        </span>
                        <span class="menu-text">My Account</span>
                      </a>

                      <ul class="submenu-wrap">
                        <li>
                          <a href="~/Member/PinAuthentication/3">
                            @*~/Member/OtpAuthentication/3*@
                            <span class="menu-ic sp-desk">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.28 15.54L17 14.33L13.5 12.25V8H12Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Profile</span>
                          </a>
                        </li>
                        <li>
                          <a href="~/Member/ChangePassword">
                            <span class="menu-ic sp-comm">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Change Password</span>
                          </a>
                        </li>
                        <li>
                          <a href="~/Member/ManageSecurityPin">
                            <span class="menu-ic sp-comm">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Security Pin</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="dash-menu-itm">
                      <a href="#" class="child-trigger">
                        <span class="menu-ic sp-wall">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="auto">
                            <path d="M20.5 6.5H3.5C2.94772 6.5 2.5 6.94772 2.5 7.5V18.5C2.5 19.0523 2.94772 19.5 3.5 19.5H20.5C21.0523 19.5 21.5 19.0523 21.5 18.5V7.5C21.5 6.94772 21.0523 6.5 20.5 6.5Z" stroke="#A5A1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M12.5 10H21.5V15.5H12.5V10Z" stroke="#A5A1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M21.5 9V16.5" stroke="#A5A1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16 6.5C16 4 14.25 3.5 13.5 3.5H6.25C4.45 3.5 4 4.933 4 5.6495V6.5" stroke="#A5A1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16.75 13.5C17.1642 13.5 17.5 13.1642 17.5 12.75C17.5 12.3358 17.1642 12 16.75 12C16.3358 12 16 12.3358 16 12.75C16 13.1642 16.3358 13.5 16.75 13.5Z" fill="#A5A1B8" />
                          </svg>
                        </span>
                        <span class="menu-text">Community</span>
                      </a>
                      <ul class="submenu-wrap">
                        <li>
                          <a href="~/register/@HttpContextAccessor.HttpContext.Session.GetString("MaxUsername")" target="_blank">
                            <span class="menu-ic sp-desk">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.28 15.54L17 14.33L13.5 12.25V8H12Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">New Referral</span>
                          </a>
                        </li>
                        <li>
                          <a href="~/Member/DirectReferralReport">
                            <span class="menu-ic sp-comm">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Direct Referral Rep.</span>
                          </a>
                        </li>
                        <li>
                          <a href="~/Member/TeamReferralReport">
                            <span class="menu-ic sp-comm">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Community Rep.</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="dash-menu-itm">
                      <a href="#" class="child-trigger">
                        <span class="menu-ic sp-wall">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="auto">
                            <path d="M20.5 6.5H3.5C2.94772 6.5 2.5 6.94772 2.5 7.5V18.5C2.5 19.0523 2.94772 19.5 3.5 19.5H20.5C21.0523 19.5 21.5 19.0523 21.5 18.5V7.5C21.5 6.94772 21.0523 6.5 20.5 6.5Z" stroke="#A5A1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M12.5 10H21.5V15.5H12.5V10Z" stroke="#A5A1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M21.5 9V16.5" stroke="#A5A1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16 6.5C16 4 14.25 3.5 13.5 3.5H6.25C4.45 3.5 4 4.933 4 5.6495V6.5" stroke="#A5A1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16.75 13.5C17.1642 13.5 17.5 13.1642 17.5 12.75C17.5 12.3358 17.1642 12 16.75 12C16.3358 12 16 12.3358 16 12.75C16 13.1642 16.3358 13.5 16.75 13.5Z" fill="#A5A1B8" />
                          </svg>
                        </span>
                        <span class="menu-text">Manage Wallet</span>
                      </a>
                      <ul class="submenu-wrap">
                        <li>
                          <a href="~/Member/WalletRecharge">
                            <span class="menu-ic sp-desk">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.28 15.54L17 14.33L13.5 12.25V8H12Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Add Fund</span>
                          </a>
                        </li>
                        <li>
                          <a href="~/Member/FundRechargeRequestReport">
                            <span class="menu-ic sp-comm">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Fund Request List</span>
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li class="dash-menu-itm">
                      <a href="#" class="child-trigger">
                        <span class="menu-ic sp-gryp">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M24 12L19.5 15V13.5H16.5V10.5H19.5V9L24 12Z" fill="#A5A1B8" />
                            <path d="M1.5 1.5H13.5V22.5H1.5L1.5 1.5ZM0 0L0 24H15V0H0Z" fill="#A5A1B8" />
                            <path d="M3 12C3 10.8065 3.47411 9.66193 4.31802 8.81802C5.16193 7.97411 6.30653 7.5 7.5 7.5C8.69347 7.5 9.83807 7.97411 10.682 8.81802C11.5259 9.66193 12 10.8065 12 12V4.5H10.5V3H4.5V4.5H3V12Z" fill="#A5A1B8" />
                            <path d="M7.5 16.5C6.30653 16.5 5.16193 16.0259 4.31802 15.182C3.47411 14.3381 3 13.1935 3 12V19.5H4.5V21H10.5V19.5H12V12C12 13.1935 11.5259 14.3381 10.682 15.182C9.83807 16.0259 8.69347 16.5 7.5 16.5Z" fill="#A5A1B8" />
                          </svg>
                        </span>
                        <span class="menu-text">Investment</span>
                      </a>

                      <ul class="submenu-wrap">
                        <li>
                          <a href="~/Member/MemberInvestment">
                            <span class="menu-ic sp-desk">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.28 15.54L17 14.33L13.5 12.25V8H12Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">New Investment</span>
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li class="dash-menu-itm">
                      <a href="#" class="child-trigger">
                        <span class="menu-ic sp-comm">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8" />
                          </svg>
                        </span>
                        <span class="menu-text">Wallet Reports</span>
                      </a>
                      <ul class="submenu-wrap">
                        <li>
                          <a href="~/Member/DhanuWalletReport">
                            <span class="menu-ic sp-desk">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.28 15.54L17 14.33L13.5 12.25V8H12Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Main Wallet</span>
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li class="dash-menu-itm">
                      <a href="#" class="child-trigger">
                        <span class="menu-ic sp-incom">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M19 3H5L2 9L12 21L22 9L19 3ZM9.62 8L11.12 5H12.88L14.38 8H9.62ZM11 10V16.68L5.44 10H11ZM13 10H18.56L13 16.68V10ZM19.26 8H16.61L15.11 5H17.76L19.26 8ZM6.24 5H8.89L7.39 8H4.74L6.24 5Z" fill="#A5A1B8" />
                          </svg>
                        </span>
                        <span class="menu-text">Income Report</span>
                      </a>

                      <ul class="submenu-wrap">
                        <li>
                          <a href="~/Member/LevelIncomeReport">
                            <span class="menu-ic sp-desk">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.28 15.54L17 14.33L13.5 12.25V8H12Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Level Income</span>
                          </a>
                        </li>
                        <li>
                          <a href="~/Member/RoiIncomeReport">
                            <span class="menu-ic sp-comm">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Daily Income</span>
                          </a>
                        </li>
                        <li>
                          <a href="~/Member/RewardReport">
                            <span class="menu-ic sp-comm">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Booster Income</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="dash-menu-itm">
                      <a href="#" class="child-trigger">
                        <span class="menu-ic sp-incom">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M19 3H5L2 9L12 21L22 9L19 3ZM9.62 8L11.12 5H12.88L14.38 8H9.62ZM11 10V16.68L5.44 10H11ZM13 10H18.56L13 16.68V10ZM19.26 8H16.61L15.11 5H17.76L19.26 8ZM6.24 5H8.89L7.39 8H4.74L6.24 5Z" fill="#A5A1B8" />
                          </svg>
                        </span>
                        <span class="menu-text">Withdrawal</span>
                      </a>

                      <ul class="submenu-wrap">
                        @*<li>
            <a href="~/Member/WithdrawalEligible">
                <span class="menu-ic sp-desk">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.28 15.54L17 14.33L13.5 12.25V8H12Z" fill="#A5A1B8" />
                    </svg>
                </span>
                <span class="menu-text">Check Eligible</span>
            </a>
        </li>*@
                        <li>
                          <a href="~/Member/WithdrawalRequestList">
                            <span class="menu-ic sp-comm">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8" />
                              </svg>
                            </span>
                            <span class="menu-text">Request List</span>
                          </a>
                        </li>


                      </ul>
                    </li>
                    <li class="dash-menu-itm">
                          <a href="~/member/AddView">
                              <span class="menu-ic sp-desk">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C6.73478 3 6.48043 3.10536 6.29289 3.29289C6.10536 3.48043 6 3.73478 6 4V18C6 18.2652 6.10536 18.5196 6.29289 18.7071C6.48043 18.8946 6.73478 19 7 19H12.5V20H7C6.46957 20 5.96086 19.7893 5.58579 19.4142C5.21071 19.0391 5 18.5304 5 18V4C5 3.46957 5.21071 2.96086 5.58579 2.58579C5.96086 2.21071 6.46957 2 7 2H17C17.5304 2 18.0391 2.21071 18.4142 2.58579C18.7893 2.96086 19 3.46957 19 4V18C19 18.5304 18.7893 19.0391 18.4142 19.4142C18.0391 19.7893 17.5304 20 17 20H15.5V19H17C17.2652 19 17.5196 18.8946 17.7071 18.7071C17.8946 18.5196 18 18.2652 18 18V4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H7Z" fill="#A5A1B8"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 5.36739 9.05268 5.24021 9.14645 5.14645C9.24021 5.05268 9.36739 5 9.5 5H14.5C14.6326 5 14.7598 5.05268 14.8536 5.14645C14.9473 5.24021 15 5.36739 15 5.5C15 5.63261 14.9473 5.75979 14.8536 5.85355C14.7598 5.94732 14.6326 6 14.5 6H9.5C9.36739 6 9.24021 5.94732 9.14645 5.85355C9.05268 5.75979 9 5.63261 9 5.5Z" fill="#A5A1B8"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 8.5C7 8.36739 7.05268 8.24021 7.14645 8.14645C7.24021 8.05268 7.36739 8 7.5 8H16.5C16.6326 8 16.7598 8.05268 16.8536 8.14645C16.9473 8.24021 17 8.36739 17 8.5C17 8.63261 16.9473 8.75979 16.8536 8.85355C16.7598 8.94732 16.6326 9 16.5 9H7.5C7.36739 9 7.24021 8.94732 7.14645 8.85355C7.05268 8.75979 7 8.63261 7 8.5Z" fill="#A5A1B8"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 10.5C7 10.3674 7.05268 10.2402 7.14645 10.1464C7.24021 10.0527 7.36739 10 7.5 10H16.5C16.6326 10 16.7598 10.0527 16.8536 10.1464C16.9473 10.2402 17 10.3674 17 10.5C17 10.6326 16.9473 10.7598 16.8536 10.8536C16.7598 10.9473 16.6326 11 16.5 11H7.5C7.36739 11 7.24021 10.9473 7.14645 10.8536C7.05268 10.7598 7 10.6326 7 10.5Z" fill="#A5A1B8"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 12.3674 7.05268 12.2402 7.14645 12.1464C7.24021 12.0527 7.36739 12 7.5 12H16.5C16.6326 12 16.7598 12.0527 16.8536 12.1464C16.9473 12.2402 17 12.3674 17 12.5C17 12.6326 16.9473 12.7598 16.8536 12.8536C16.7598 12.9473 16.6326 13 16.5 13H7.5C7.36739 13 7.24021 12.9473 7.14645 12.8536C7.05268 12.7598 7 12.6326 7 12.5Z" fill="#A5A1B8"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 17.5C14.2652 17.5 14.5196 17.3946 14.7071 17.2071C14.8946 17.0196 15 16.7652 15 16.5C15 16.2348 14.8946 15.9804 14.7071 15.7929C14.5196 15.6054 14.2652 15.5 14 15.5C13.7348 15.5 13.4804 15.6054 13.2929 15.7929C13.1054 15.9804 13 16.2348 13 16.5C13 16.7652 13.1054 17.0196 13.2929 17.2071C13.4804 17.3946 13.7348 17.5 14 17.5ZM14 18.5C14.5304 18.5 15.0391 18.2893 15.4142 17.9142C15.7893 17.5391 16 17.0304 16 16.5C16 15.9696 15.7893 15.4609 15.4142 15.0858C15.0391 14.7107 14.5304 14.5 14 14.5C13.4696 14.5 12.9609 14.7107 12.5858 15.0858C12.2107 15.4609 12 15.9696 12 16.5C12 17.0304 12.2107 17.5391 12.5858 17.9142C12.9609 18.2893 13.4696 18.5 14 18.5Z" fill="#A5A1B8"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 17.5H12.5V22L14 21.25L15.5 22V17.5H14.5V20.382L14 20.132L13.5 20.382V17.5Z" fill="#A5A1B8"></path>
                                    </svg>
                                  </span>
                                <span class="menu-text">Add View</span>
                              </a>
                          </li>
                    <li class="dash-menu-itm">
                      <a href="#">
                        <span class="menu-ic sp-desk">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M13 3C8.03 3 4 7.03 4 12H1L4.89 15.89L4.96 16.03L9 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.07 19 9.32 18.21 8.06 16.94L6.64 18.36C8.27 19.99 10.51 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.28 15.54L17 14.33L13.5 12.25V8H12Z" fill="#A5A1B8" />
                          </svg>
                        </span>
                        <span class="menu-text">Help Desk</span>
                      </a>
                    </li>
                    <li class="dash-menu-itm">
                      <a href="~/Member/Logout">
                        <span class="menu-ic sp-logout">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M13 3H11V13H13V3ZM17.83 5.17L16.41 6.59C17.99 7.86 19 9.81 19 12C19 15.87 15.87 19 12 19C8.13 19 5 15.87 5 12C5 9.81 6.01 7.86 7.58 6.58L6.17 5.17C4.23 6.82 3 9.26 3 12C3 16.97 7.03 21 12 21C16.97 21 21 16.97 21 12C21 9.26 19.77 6.82 17.83 5.17Z" fill="#F80000" fill-opacity="0.7" />
                          </svg>
                        </span>
                        <span class="menu-text">Logout</span>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    <script src="~/assets_backend/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/assets_backend/js/moment.min.js"></script>
    <script type="text/javascript" src="~/assets_backend/js/daterangepicker.js"></script>
    <script src="~/assets_backend/js/custom.js"></script>
    <script>

        var table = $('#cmDataTable').DataTable(
            {
                "footerCallback": function () {
                    var api = this.api();
                    nb_cols = api.columns().nodes().length;
                    var j = 2;
                    while (j < nb_cols) {
                        var pageTotal = api
                            .column(j, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return Number(a) + Number(b);
                            }, 0);
                        // Update footer
                        $(api.column(j).footer()).html(pageTotal);
                        j++;
                    }
                }
            }
        );

        var table2 = $('#cmDataTable2').DataTable(
            {
                "footerCallback": function () {
                    var api = this.api();
                    nb_cols = api.columns().nodes().length;
                    var j = 2;
                    while (j < nb_cols) {
                        var pageTotal = api
                            .column(j, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return Number(a) + Number(b);
                            }, 0);
                        // Update footer
                        $(api.column(j).footer()).html(pageTotal);
                        j++;
                    }
                }
            }
        );



    </script>
    <script>
        $(function () {

            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end
            }, cb);
            cb(start, end);
        });
    </script>
</body>
</html>

